  /* nav */
.stiloletra{
    font-family: 'Courgette';
    font-size: 30px;

}  
  
  
  
  /* index */
  
  .stiloletra1{
        font-family: 'Calligraffitti';
        font-size: 60px;
        color: #ffffff;
        text-align: center;

    }
.espacio{
    margin-top: 20rem;
}


/* Login */

.fondo{
    background-repeat: no-repeat;
    background-size: 100%;
}

.stiloletra2{
    font-family: 'Courgette';
    font-size: 30px;
    color: #ffffff;
}

/* inventario */
.tamimg{
    width: 100px;
    height: 100px;
}

.stiloletra3{
    font-family: 'Courgette';
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

.espacio2{
    margin-top: 10rem;
}
