  /* nav */
.stiloletra{
    font-family: 'Courgette';
    font-size: 30px;

}  
  
  /* end nav */
  
  /* index */
  
  .stiloletra1{
        font-family: 'Calligraffitti';
        font-size: 60px;
        color: #ffffff;
        text-align: center;

    }
.espacio{
    margin-top: 20rem;
}

/* end index */

/* Login */

.fondo{
    background-repeat: no-repeat;
    background-size: 100%;
}

.stiloletra2{
    font-family: 'Courgette';
    font-size: 30px;
    color: #ffffff;
}

/* inventario */
.tamimg{
    width: 100px;
    height: 100px;
}

.stiloletra3{
    font-family: 'Courgette';
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

.espacio2{
    margin-top: 10rem;
}
/* end login */

/* catalogo */

.mar{
    margin-top: 10rem;
}

.mar2{
    margin-top: 5rem;
}

.img1{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
    
}

.stileletra{
    font-family: 'Courgette';
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}
